<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZonView017.Config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZonView017.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZonView017.Config>
            <setting name="CasasDecimais" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Linguagem" serializeAs="String">
                <value>pt-BR</value>
            </setting>
            <setting name="Cor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Caminho1" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho2" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho3" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho4" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho5" serializeAs="String">
                <value />
            </setting>
            <setting name="CaminhoExpor" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho1" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho2" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho3" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho4" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho5" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipCaminho" serializeAs="String">
                <value />
            </setting>
            <setting name="CaminhoAbrir" serializeAs="String">
                <value />
            </setting>
        </ZonView017.Config>
        <ZonView017.Settings1>
            <setting name="CasasDecimais" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Linguagem" serializeAs="String">
                <value>pt-BR</value>
            </setting>
            <setting name="Cor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
        </ZonView017.Settings1>
    </userSettings>
</configuration>